
<nav class="fixed top-0 left-0 z-40 w-full h-16 bg-white border-b border-default shadow-md">
  <div class="flex items-center justify-between h-full px-6">

    <!-- LEFT side -->
    <div class="flex items-center gap-4">
      <!-- Hamburger (mobile only) -->
      <button
        id="sidebar-toggle"
        class="md:hidden text-2xl text-indigo-600 focus:outline-none">
        <i class="fa-solid fa-bars"></i>
      </button>

      <!-- Logo (mobile only) -->
      <%= link_to root_path, class: "md:hidden flex items-center gap-2" do %>
        <i class="fa-solid fa-images text-blue-500 text-2xl"></i>
        <span class="text-xl font-bold text-blue-900 whitespace-nowrap">
          GalleryPro
        </span>
      <% end %>
    </div>

    <!-- RIGHT side -->
    <div class="flex items-center gap-6">
      <% if current_user %>
        <span class="hidden md:inline font-bold text-lg text-blue-900">
          Hi, <%= current_user.name %>!
        </span>

        <%= button_to "Logout",
          destroy_user_session_path,
          method: :delete,
          data: { turbo: false },
          class: " bg-red-500 text-white rounded-lg px-4 py-2 hover:bg-red-600 transition" %>
      <% else %>
        <%= link_to "Login",
          new_user_session_path,
          class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg font-medium" %>
      <% end %>
    </div>

  </div>
</nav>


<aside id="top-bar-sidebar" class="fixed top-0 left-0 z-50 w-64 h-full transition-transform -translate-x-full sm:translate-x-0 bg-blue-900 text-white" aria-label="Sidebar">
 <!-- Mobile close button -->
  <div class="flex items-center justify-end sm:hidden px-4 py-3">
    <button
      id="sidebar-close"
      class="text-2xl text-white focus:outline-none">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>   
<!-- content ABOVE overlay -->
  <div class="relative z-10 h-full px-4 py-4 overflow-y-auto border-e border-blue-700">
    <%= link_to root_path, class: "flex items-center ps-2.5 mb-5 gap-2" do %>
      <i class="fa-solid fa-images text-blue-500 text-2xl"></i>
      <span class="self-center text-xl text-heading font-bold whitespace-nowrap text-white font-bold">GalleryPro</span>
    <% end %>

    <ul class="mt-10 font-medium ">
      <li>
      <%= link_to albums_path,class: "flex items-center gap-3 px-3 py-3 text-white rounded-base hover:bg-blue-800/60 transition" do %>
        <i class="fa-solid fa-house w-5 text-center"></i>
        <span>Dashboard</span>
      <% end %>
      </li>
      
      <li>
      <%= link_to new_album_path,class: "flex items-center gap-3 px-3 py-3 text-white rounded-base hover:bg-blue-800/60 transition" do %>
        <i class="fa-solid fa-circle-plus w-5 text-center"></i>
        <span>Create Album</span>
      <% end %>
      </li>

     <li>
         <!-- Categories header -->
        <%= link_to "#",
            class: "flex items-center gap-3 px-3 py-3 text-white rounded-base
                    transition border-t border-white" do %>
          <i class="fa-solid fa-folder-open w-5 text-center"></i>
          <span class="font-medium">Categories</span>
        <% end %>

        <ul class="ml-16 flex flex-col gap-1">
          <% @albums.each do |album| %>
             <li>
                <%= link_to album_photos_path(album),
                  class: "flex items-center gap-4 px-3 py-2 rounded hover:bg-blue-700/50 transition text-white" do %>
               <i class="fa-solid fa-image w-4 text-center"></i>
               <span><%= album.title %></span>
               <% end %>
              </li>
          <% end %>
        </ul>

      </li>
      
    </ul>
  </div>
</aside>

 <!-- Main Content Wrapper -->
<div class="p-4 sm:ml-64 mt-14">
  <%= yield %>
</div>
