<div class="w-full max-w-sm mx-auto bg-white p-6 border border-gray-200 rounded-lg shadow-sm">
  <h5 class="text-xl font-semibold text-heading mb-6">Login in</h5>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-lg border border-gray-300 px-3 py-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"%>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-700"%>
      <%= f.password_field :password, autocomplete: "current-password",class: "block w-full rounded-lg border border-gray-300 px-3 py-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"  %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <%= f.check_box :remember_me, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:outline-none focus:ring-0 focus:shadow-none" %>
        <%= f.label :remember_me , class: "text-sm text-gray-800" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in",class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 focus:outline-none" %>
    </div>
  <% end %>

  <div class="mt-4 text-sm text-gray-600 flex justify-center gap-6 ">
    <%= render "devise/shared/links" %>
  </div>

</div>
